.main-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-wraper {
  position: relative;
  display: flex;
  justify-content: center;
}

.input-wraper > input {
  width: 350px;
  height: 3rem;
  font-size: 1.5rem;
  border-radius: 30px;
  padding: 0 14% 0 4%;
  border: 1px solid rgb(72, 93, 116);
}

.input-wraper > input:focus {
  outline: none;
}

.input-wraper > button {
  background-image: url('../assets/add-todo.png');
  background-position: 0% 0%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 13px;
  left: 96%;
  border: none;
  cursor: pointer;
  width: 25px;
  height: 25px;
}

.todos-list-wraper > ul {
  padding: 0 0 0 3%;
  list-style-type: none;
}

.todos-list-wraper > ul > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
  border: 0.5px dotted gray;
  border-radius: 8px;
  margin: 0.5rem 0;
  padding: 2%;
}
