.navbar-container {
  background-color: rgb(89, 89, 216);
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  z-index: 999;
}

a {
  text-decoration: none;
}

.navbar-container > ul {
  list-style-type: none;
  padding: 0 0 0 25px;
}

.close-hamburger {
  cursor: pointer;
  border: none;
  background-color: inherit;
  float: right;
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
}
